.wrap-text {
    word-break: break-word;
}

.w-90 {
    width: 90%;
}

.mt-48 {
    margin-top:48px;
}

.mt-32 {
    margin-top: 32px;
}

.w-90 {
    width: 90%;
}

.margin-100 {
    margin-top:100px;
}

.margin-32 {
    margin-top: 32px;
}

.bg-color-yellow {
    background-color: yellow;
}